*,
*::before,
*::after{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    background-color: #161616;
}
.nav1 ul{
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: -5%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;    
}
.nav1{
    background-color: transparent;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    transition: 0.3s ease;
}
nav a:hover{
    background-image: linear-gradient(to right, rgb(149, 195, 255), hwb(199 26% 2%)); 
    color: transparent;
    -webkit-background-clip: text;
}
.nav1 .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.877);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;

}
.sidebar a{
    width: 100%;
    cursor: pointer;
    color: #0c020d;
}
.sid{
    margin-top: 2%;
}
.menu-button{
    display: none;
    margin-right: 8px;

}
.menu-button svg {
    fill: #fff; 
}
.pic{
    height: 350px;
    width: 350px;
    border-radius: 0.6rem;
    border: 0.1px solid gray;
    transition: 0.4s ease;
}
.phones{
    height: 350px;
    width: 350px;
    background: linear-gradient(to bottom, rgb(18,6,10),
    rgb(28,61,191),rgb(208,70,208),rgb(32,103,219));
    backdrop-filter: blur(10px);
    border-radius: 0.6rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    border: 0.1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.1;
    transition: 0.3s ease;
}
.pic:hover{
    box-shadow: rgba(255, 255, 255, 0.8) 0px 50px 100px -20px, rgba(255, 255, 255, 0.8) 
    0px 30px 60px -30px, rgba(255, 255, 255, 0.8) 0px -2px 6px 0px inset;
}
h4, span{
    margin-left: 15px;
}
.li{
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
    width: 100%;
    border-bottom: 2px solid lightgray;
}
.l{
    color: lightgray;
    font-size: 20px;
}
.contactcont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10%;

}
h1 {
    font-weight: 800;
    font-size: 2.4rem;
    color: #fff;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2%;

}
p{
    width: 60%;
    margin-left:10%;
    color: gray;
    font-size: 1.1rem;
    margin-bottom: 5%;
}

.footer{
    background-color: #111111;
    overflow: hidden;
    padding: 40px 0;
}
.contain{
    margin: auto;
}
.footer ul{
    list-style: none;
}
.row1{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}
.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-image: linear-gradient(to right, hwb(199 26% 2%), #C45AEC);
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li:not(:last-child){

    margin-bottom: 10px;
}
.footer-col ul li a{

    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease ;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 60px;
    width: 60px;
    background-image: linear-gradient(to right, hwb(199 26% 2%), #C45AEC);
    color: transparent;
    -webkit-background-clip: text; 
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 50px;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
 color: #fff;
}




@media (max-width:768px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: flex;
        margin-right: -14px;
        } 
        
    .contactcont{
        flex-direction: column;
    } 
    .contact-title{
        font-size: 1.8rem;
        margin-left: 0%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    p{
        margin-top: 3%;
        text-align: center;
        width: 90%;
        margin-left: 5%;
        margin-right: 0%;
        padding: 0;
        margin-bottom: 5%;

    }
    .footer .footer-col {
        flex: 1 1 100%;
        min-width: unset;
    }
    .pic{
        height: 315px;
        width: 315px;
    }
    .phones{
        height: 315px;
        width: 315px;
        line-height: 1;
    }
    .li{
        font-size: 1.2rem;
    }
    #l{
        text-decoration: none;
    }


    }